/* Global */
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}
a {
  color: rgb(0, 110, 255);
  text-decoration: inherit;
}
a:hover {
  color: rgb(56, 56, 56);
}
h2 {
  font-size: 3em;
}
/* Navigation */
.nav {
  width: 100vw;
  margin: 0px;
  padding: 0px;
  text-align: center;
  background-color: white;
  border-bottom: 1px solid rgba(128, 128, 128, 0.205);
  position: fixed;
}
.nav li {
  list-style-type: none;
  display: inline-block;
  width: 22vw;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  margin: 15px 0.4vw 15px 0.4vw;
  border-radius: 2px;
  text-align: center;
  border: 1px solid rgba(128, 128, 128, 0.205);
}
li:hover {
  color: black;
}
.icon {
  margin-right: 0.5vw;
}
.is-active {
  font-weight: 600;
  color: rgb(0, 81, 187);
}
/* Home Page */
.home-page {
  height: 100vh;
  background: white;
}
.home-top-container {
  padding-top: 130px;
  width: 100vw;
  vertical-align: top;
  text-align: center;
}
.home-top-container h2 {
  text-align: right;
}
.home-top-left {
  display: inline-block;
  width: 250px;
  height: 250px;
}
.home-top-left-image {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  border-radius: 300px;
  background: url("images/profile.png");
  background-size: cover;
  vertical-align: top;
}
.home-top-right {
  display: inline-block;
  vertical-align: top;
}
.home-top-right ul {
  width: 300px;
  /*border: 1px solid black;*/
  border-radius: 2px;
  padding: 10px 0px 10px 15px;
  margin: 30px 0 0 35px;
  vertical-align: top;
  text-align: left;
}
.home-top-right li {
  list-style-type: none;
}
.home-top-right li .icon {
  font-size: 1.3em;
  text-align: right;
  width: 20px;
  padding-right: 10px;
  display: inline-block;
}
.home-bottom-text {
  width: 600px;
  max-width: 80vw;
  margin: 40px auto 20px auto;
}

.button {
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  display: inline-block;
  margin: 20px 10px 0px 0px;
}
.github {
  background: #444444;
  width: 80px;
}
.github:hover {
  background: #313131;
}
.CV {
  background: rgb(33, 133, 208);
  width: 130px;
}
.CV:hover {
  background: #1678c2;
}
.blog {
  background: rgb(100, 13, 240);
  width: 60px;
}
.blog:hover {
  background: rgb(77, 11, 182);
}
/* Education */
.education-container {
  padding-top: 110px;
  width: 600px;
  max-width: 80vw;
  margin: 0 auto 20px auto;
}
.education-container h2, .education-explanation {
  margin-bottom: 20px;
}
.education-container h4 {
  margin-top: 10px;
  font-size: 1.2em;
}
.education-container li {
  margin-left: 40px;
  list-style-type: square;
}
/* Projects */
.projects-container {
  padding-top: 110px;
  width: 600px;
  max-width: 80vw;
  margin: 0 auto 0 auto;
}
.project {
  border: 1px solid rgba(128, 128, 128, 0.205);
  padding: 10px 20px;
  border-radius: 2px;
  margin: 20px 0 20px 0;
}
.project h3 {
  font-size: 1.4em;
  margin-bottom: 10px;
}
.project-image {
  text-align: center;
  margin: 10px 0 10px 0;
}
.project-image img {
  width: 100%;
  border-radius: 2px;
}
.project-text p {
  margin-bottom: 10px;
}
.project-tags {
  margin-bottom: 5px;
}
.tag {
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 0.8em;
  display: inline-block;
  margin: 0px 10px 5px 0px;
  border: 1px solid black;
}
.tag-html {
  border-color: #E54D26;
  color: #E54D26;
}
.tag-css {
  border-color: #0070BA;
  color: #0070BA;
}
.tag-bootstrap {
  border-color: #824ECF;
  color: #824ECF;
}
.tag-js {
  border-color: #F5E01F;
  color: #F5E01F;
}
.tag-reactjs {
  border-color: #61DAFB;
  color: #61DAFB;
}
.tag-nodejs {
  border-color: #90C53F;
  color: #90C53F;
}
.tag-winforms {
  border-color: grey;
  color: grey;
}
.tag-csharp {
  border-color: #7A3396;
  color: #7A3396;
}
.tag-sharppcap {
  border-color: rgb(56, 56, 56);
  color: rgb(56, 56, 56);
}
.tag-semanticui {
  border-color: #35BDB2;
  color: #35BDB2;
}
.tag-electron {
  border-color: #437C86;
  color: #437C86;
}
.tag-discordjs {
  border-color: #8C9EFF;
  color: #8C9EFF;
}
.tag-json {
  border-color: black;
  color: black;
}
.tag-mysql {
  border-color: #00618A;
  color: #00618A;
}
.tag-php {
  border-color: #777BB3;
  color: #777BB3;
}
/* Contact */
.contact-container {
  padding-top: 110px;
  width: 600px;
  max-width: 80vw;
  margin: 0 auto 0 auto;
}
.contact-form {
  border: 1px solid rgba(128, 128, 128, 0.205);
  border-radius: 2px;
  margin: 20px 0 40px;
  padding: 10px 20px;
}
.contact-form input, .contact-form textarea {
  width: 95%;
  margin: 5px 0 10px;
  border: 1px solid rgba(128, 128, 128, 0.205);
  border-radius: 2px;
  padding: 5px 10px;
}
#messageInput {
  resize: vertical;
}
.send {
  background: rgb(33, 133, 208);
  margin: 0px 0px 10px 0px;
  cursor: pointer;
}
.contact-container .contact-form .invalid {
  border: 1px solid red;
}
